# Ignore everything
/*

# Except 

!/scripts/

!/projects/

/projects/hoerfunk/data/*

!/presentation/
/presentation/*
!/presentation/*.qmd
!/presentation/*.html

!/outreach/
!/outreach/*

!/data/
/data/*
!/data/data_processed/
.Rproj.user
