.reveal .reveal-header {
  top: 0;
  margin: 3.2px 0px 2px 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  display: flex !important; 
  align-items: center;
  height: 140px;
  border-bottom: 1pt solid #84B819;
}

.reveal .header-logo svg,
.reveal .header-logo img {
  margin: 0px 0px 0px 0px;
  padding-left: 1vw;
  padding-top: 5px;
  height: 100%;
  width: auto;
  text-align: center;
}

.header-logo-right {
  height: 60px !important; 
  padding-right: 3vw;
}

div.slides section:not(.title-slide):not(#title-slide):not(.stack) {
  padding-top: 1em;  
  overflow-y: auto;  
}

.reveal {
  margin-top: 140px; 
  height: calc(100% - 140px) !important;
}

