/*-- scss:defaults --*/

.custom600 pre code {
  height: 600px !important;
  max-height: 600px !important;
}

.reveal .navigate-left,
.reveal .navigate-right {
  color: #83B818 !important;
}

.reveal .progress {
  color: #83B818 !important;
}

.reveal .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(132, 184, 25)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
}

.indent-text {
  display: inline-block;
  padding-left: 20px;
  text-indent: -20px;
}

.indent-text::before {
  content: '$\rightarrow$';
  padding-right: 5px;
}

li::marker {
  color: #83B818 !important;
}

.semi-transparent {
  opacity: 0.5;
}